#main {text-align: center; padding-top: 10%; border-radius: 25px;}
#navbar {display: inline; }
#footer{ background-color: #e8e8e8; position: fixed; left: 0; bottom: 0; width: 100%;}

.divider{
    width:5px;
    height:auto;
	display:inline-block;
}

.vdivider{
	margin-bottom: 10px;   
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
  }
  
  li {
    float: left;
    padding: 5px;
  }
  
  body{
	font-size: small;
	font-family: arial,sans-serif;  
  }
  
  a:link{
	  text-decoration: none;
  }